<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" *ngIf="content">
  <ng-template #con let-modal id="modal-add-user">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
            <div class="form-group">
              <div class="form-group">
                <label >username</label>
                <input
                  type="text"
                  class="form-control"
                  name="text"
                  [(ngModel)]="userAccount.username"
                />
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                minlength="6"
                [(ngModel)]="userAccount.password"
              />
            </div>
            <div class="form-group">
              <label>email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                email
                [(ngModel)]="userAccount.email"
              />
            </div>
          <div class="form-group">
            <label>role</label>
            <input
              type="text"
              class="form-control"
              name="role"
              [(ngModel)]="userAccount.role[0].name"
            />
          </div>
            <div class="form-group">
              <label>phone</label>
              <input
                type="tel"
                class="form-control"
                name="tel"
                [(ngModel)]="userAccount.phone"
              />
            </div>
            <div class="form-group">
              <label>position</label>
              <input
                type="text"
                class="form-control"
                name="text"
                [(ngModel)]="userAccount.position"
              />
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" (click)="addUser()">Save</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">close</button>
    </div>
  </ng-template>

  <ng-template #con2 let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label>username</label>
          <input
            type="text"
            class="form-control"
            name="role"
            [(ngModel)]="userAccount.username"
          />
        </div>
        <div class="form-group">
          <label>role</label>
          <input
            type="text"
            class="form-control"
            name="role"
            [(ngModel)]="userAccount.role[0].name"
          />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" (click)="addUserRole()">Save</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
    </div>
  </ng-template>

  <ng-template #con3 let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label>username</label>
          <input
            type="text"
            class="form-control"
            name="role"
            [(ngModel)]="userAccount.username"
          />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" (click)="deleteUser()">Save</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
    </div>
  </ng-template>

  <button *ngIf="isAdmin()" class="btn btn-dark" (click)="open(con)">Add User</button>

    <div class="row">
      <div class="col-md-6 col-xl-3" *ngFor="let con of content;">
        <div class="card m-b-30">
          <div class="card-body row">
            <div class="col-6">
              <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="img-fluid rounded-circle w-60"></a>
            </div>
            <div class="col-6 card-title align-self-center mb-0">
              <h5> {{ con.username }} </h5>
              <p class="m-0">{{ con.position }}</p>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">{{ con.email }}</a></li>
            <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{ con.phone }}</li>
          </ul>
          <div class="card-body">
            <button *ngIf="isMod()" type="button" class="btn btn-dark" (click)="open(con2)">add role</button>
            <button  *ngIf="isAdmin()" type="button" class="btn btn-dark" (click)="open(con3)">delete</button>
          </div>
        </div>
      </div>
    </div>
</div>
