<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" *ngIf="content">
  <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Open My Modal</button>

  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      This is example from ItSolutionStuff.com
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
  </ng-template>

    <div class="row">
      <div class="col-md-6 col-xl-3" *ngFor="let con of content;">
        <div class="card m-b-30">
          <div class="card-body row">
            <div class="col-6">
              <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="img-fluid rounded-circle w-60"></a>
            </div>
            <div class="col-6 card-title align-self-center mb-0">
              <h5> {{ con.username }} </h5>
              <p class="m-0">{{ con.position }}</p>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">{{ con.email }}</a></li>
            <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{ con.phone }}</li>
          </ul>
          <div class="card-body">
            <button type="button" class="btn btn-dark" *ngIf="isAdmin()">delete</button>
            <button type="button" class="btn btn-dark" *ngIf="isMod()">add role</button>
          </div>
        </div>
      </div>
    </div>
</div>
