<div class="container" *ngIf="dealershipCars">
  <div class="row">
    <div class="col-md-6 col-xl-3" *ngFor="let dealershipCar of dealershipCars;">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/image/car/{{ dealershipCar.image }}.jpg" alt="Card image cap" >
          <div class="card-body">
            <h5 class="card-title">{{ dealershipCar.brand }}</h5>
            <p class="card-text">{{ dealershipCar.model }}</p>
            <p class="card-text">{{ dealershipCar.mileage }}</p>
            <p class="card-text">{{ dealershipCar.price }}</p>
          </div>
      </div>
    </div>
  </div>
</div>
